html {
    font-size: 10px;
    background-color: rgb(226, 64, 43);
    background-size: cover;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
  }
  
  
  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid #831111;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
    cursor: pointer;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #ffffff;
    box-shadow: 0 0 1rem #ffffff;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }

  footer {
    text-align: center;
    color: #ffffff;
    margin-top: -100px;
  }

  footer a{
    text-decoration: none;
    color: #ffc600;
  }

  ul{
    display: inline-flex;
    list-style: none;
  }

  .social-icon {
    padding-left: 0;
  }

  .fa {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    color: rgb(36, 36, 36);
  }
  