html {
    font-size: 10px;
    background-color: #e2402b;
    background-size: cover;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-shadow: 0 0 .5rem black;
  }

  header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: -180px;
    color: #ffffff;
    font-family: 'Pacifico', cursive;
  }

  .title {
    font-size: 20px;
    margin: 0px;
    display: inline-flex;
  }

  h1 {
    margin: 0px;
  }

  .fas {
    font-size: 50px;
    margin-right: 5px;
  }
  
  /* 3 borders color after h1 */
div.borderColor1 {
  display: inline-block;
  background: #ff9d15;
  width: 95px;
  height: 5px;
}

div.borderColor2 {
  display: inline-block;
  background: #014b07;
  width: 95px;
  height: 5px;
}

div.borderColor3 {
  display: inline-block;
  background: #0021b3;
  width: 95px;
  height: 5px;
}
  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .guide {
    list-style: disc;
    margin: 5px;
    font-size: 17px;
    list-style: none;
  }
  
  .key {
    border: .4rem solid #831111;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.253);
    text-shadow: 0 0 .5rem black;
    cursor: pointer;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #ffffff;
    box-shadow: 0 0 1rem #ffffff;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }

  footer {
    text-align: center;
    color: #ffffff;
    margin-top: -80px;
  }

  footer a{
    text-decoration: none;
    color: #ffc600;
    text-shadow: none;
  }

  .wow{
    display: inline-flex;
    list-style: none;
    margin: 0px;
  }

  .social-icon {
    padding-left: 0;
  }

  .fa {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    color: rgb(36, 36, 36);
  }

  @media only screen and (max-width: 600px) {
    .keys {
      display: grid;
      grid-gap: 20px;
      /* grid-template-columns: repeat(auto-fill, minmax(40px, 100px)); */
      grid-template: 90px 90px 90px / auto auto auto;
      margin-top: 200px;
  }

  .key {
    width: 65px;
    height: 55px;
    
  }

  .guide {
    padding: 0px;
  }

  footer {
    margin-top: -300px;
  }

  }



